@model IEnumerable<Proyecto_Restful_Api.Models.Archive>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<h2>Content</h2>

<p>
    @Html.ActionLink("Create New", "Create", new object { }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.ActionLink(" Details", "Details", new { id = item.id }, new { @class = "btn btn-info fa fa-folder-open" })  
            @Html.ActionLink(" Delete", "Delete", new { id=item.id } , new { @class = "btn btn-danger fa fa-trash" })
            @Html.ActionLink(" Download", "CreateFile", new { id = item.id }, new { @class = "btn btn-warning fa fa-download" }) 
        </td>
    </tr>
}

</table>
